# ============================================================
#  Unreal Engine .gitignore  (Odyssey Crew)
#  Commitujemy: Source/, Content/ (w tym Content/Data/*.db),
#               Config/, *.uproject.
# ============================================================

# --- Foldery generowane przez silnik ---
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Plugins/**/Binaries/
Plugins/**/Intermediate/

# --- Pliki projektu IDE (regenerowane z .uproject) ---
.vs/
.vsconfig
.idea/            # Rider
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace

# --- Artefakty kompilacji ---
*.o
*.obj
*.slo
*.lo
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.lai
*.la
*.exe
*.out
*.app
*.ipa
*.mod

# --- Zbudowane dane map (uasset generowany obok mapy) ---
*_BuiltData.uasset

# --- Build/ (poza whitelistą PakBlacklist) ---
Build/*
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# ============================================================
#  WHITELIST czego NIE ignorować (kluczowe dla uruchomienia)
# ============================================================
!*.uproject
!Content/Data/
!Content/Data/**